

<%/*%>

    This is the way to do multiline comment in ejs, Got it
    <%=page%>
<%*/%>

<footer id="partial-footer">
    
    <div id="left-content">

        <div>
            &copy; Aman Maddhesia Venture.
            <br> All Rights Reserved
        </div>

    </div>
    <div id="right-content">
        <a href="/">Home</a>
        <br>
        <%if(locals.user){%>
        <a href="/users/profile/<%=locals.user.id%>">Profile</a>
        <%}%>
    </div>

</footer>