<link rel="stylesheet" href="/css/home.css">
<h1>
    Codeial Home Page
</h1>

<section>
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>

</section>


<script src="/js/home.js"></script>