<link rel="stylesheet" href="/css/userProfile.css">
<h1>
    User Profile page rendered
</h1>

<p>
    
    <%=profile_user.name%> 
    <br>
    <%=profile_user.email%>

    

</p>


<script src="/js/userProfile.js"></script>